@import './reset.css';

.inner {
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
a,
span {
  color: #ceec90;
}

h1 {
  font-size: 44px;
}

p {
  color: rgba(255, 255, 255, 0.651);
}

span {
  font-size: 36px;
  margin-right: 15px;
  transform: skewX(10deg);
  display: block;
}

span:last-of-type {
  margin-right: 0;
}

header {
  width: 50%;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

header.active {
  width: 100%;
  height: 70px;
  background-color: #94B9F3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s;
}

header .menu {
  display: flex;
}

header .menu li {
  margin-right: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.651);
}

header .menu li a {
  font-size: 22px;
  display: block;
}


header .menu li:last-of-type {
  margin-right: 0;
}

header .menu li a:hover {
  transform: skewX(8deg);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .info_container {
  width: 50%;
}

main .info_container .info_wrap {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #85b95c;
}

main .info_container .info_wrap .info_title_box {
  text-align: center;
  line-height: 1.5;
}

main .info_container .info_wrap .info_title_box.hide {
  display: none;
}

main .info_container .info_wrap .info_title_box .info_tag_box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

main .info_container .info_wrap .info_title_box p {
  font-size: 14px;
  margin-top: 20px;
}

main .info_container .info_wrap .info_box {
  width: 90%;
  margin: 0 auto;
  display: none;
}

main .info_container .info_wrap .info_box.on {
  display: block;
}

main .info_container .info_wrap .info_box h1 {
  font-size: 44px;
  margin-bottom: 20px;
}

main .info_container .info_wrap .info_box p {
  margin-bottom: 20px;
}

main .info_container .info_wrap .info_box .info_img {
  overflow-y: auto;
  height: 352px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main .info_container .info_wrap .info_box .info_img img {
  width: 100%;
  display: block;
}

main .info_container .info_wrap .info_box .info_text_box {
  margin-top: 40px;
  display: flex;
}

/* img_container css */

main .img_container {
  width: 50%;
}

main .img_container .img_wrap .img_box {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

main .img_container .img_wrap .img_box img {
  width: 100%;
  display: block;
}

main .img_container .img_wrap .img_box:hover .img_mask {
  top: 0;
  left: 0;
}

main .img_container .img_wrap .img_box .img_mask {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e7e0c8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.3s;
}

main .img_container .img_wrap .img_box .img_mask .mask_title {
  color: #6667a6;
  margin-bottom: 20px;
}

main .img_container .img_wrap .img_box .img_mask .mask_text {
  color: #9c94d0;
}

main .img_container .img_wrap .img_box .img_mask .mask_btn_box {
  display: flex;
  margin-top: 40px;
}

main .img_container .img_wrap .img_box .img_mask .mask_btn_box .mask_btn {
  color: #9c94d0;
  padding: 20px 25px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: block;
  margin-right: 20px;
  transition: 0.3s;
}

main .img_container .img_wrap .img_box .img_mask .mask_btn_box .mask_btn:last-of-type {
  margin-right: 0;
}

main .img_container .img_wrap .img_box .img_mask .mask_btn_box .mask_btn:hover {
  background-color: #6667a6;
  color: #fff;
  border-color: #6667a6;
}

.introduce {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 150px 0 100px 0;
  background-color: #94B9F3;
  z-index: 1;
}

.introduce .introduce_box .introduce_title_box {
  text-align: right;
}

.introduce .introduce_box .introduce_title_box .introduce_title {
  color: #D4E4F2;
  font-size: 60px;
  padding-bottom: 20px;
}

.introduce .introduce_box .introduce_title:last-of-type {
  padding-bottom: 0;
}

.introduce .introduce_box .introduce_text {
  width: 60%;
  margin-top: 50px;
}

.introduce .introduce_box .introduce_text .introduce_my {
  position: absolute;
  top: 450px;
  right: 350px;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.introduce .introduce_box .introduce_text .introduce_my img {
  width: 100%;
  display: block;
}

.introduce .introduce_box .introduce_text .introduce_text_title {
  font-size: 22px;
  text-align: center;
  color: #D4E4F2;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.introduce .introduce_box .introduce_text .introduce_text_box p {
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 15px;
  background-color: #D4E4F2;
  color: rgba(51, 51, 51, 0.692);
  line-height: 1.5;
}

/* right */
.introduce .skill_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduce .skill_box .skill_title_box {
  width: 100%;
  margin-top: 150px;
  text-align: left;
}

.introduce .skill_box .skill_title_box .skill_title {
  color: #D4E4F2;
  font-size: 60px;
  padding-bottom: 20px;
}

.introduce .skill_box .skill_title:last-of-type {
  padding-bottom: 0;
}

.introduce .skill_box .skill_text {
  width: 60%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduce .skill_box .skill_text .skill_text_title {
  font-size: 22px;
  text-align: center;
  color: #D4E4F2;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.introduce .skill_box .skill_text .skill_img_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.introduce .skill_box .skill_text .skill_img_box img {
  width: 100%;
  display: block;
}

.introduce .skill_box .skill_text .skill_img_box .skill_content {
  width: 150px;
  position: relative;
}


.introduce .skill_box .skill_text .skill_img_box .skill_content .skill_content_text {
  width: 400px;
  position: absolute;
  top: 210px;
  left: -110px;
  padding: 23px;
  line-height: 1.5;
  border-radius: .4em;
  border-bottom-color: #D4E4F2;
  background-color: #D4E4F2;
  display: none;
}

.introduce .skill_box .skill_text .skill_img_box .skill_content .skill_content_text.show {
  display: block;
}

.introduce .skill_box .skill_text .skill_img_box .skill_content .skill_content_text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 38px solid transparent;
  border-bottom-color: #D4E4F2;
  border-top: 0;
  border-left: 0;
  margin-left: -19px;
  margin-top: -38px;
}

/* 에듀 섹션 */
.introduce .education_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.introduce .education_box .education_title_box {
  text-align: right;
  width: 100%;
}

.introduce .education_box .education_title_box .education_title {
  color: #D4E4F2;
  font-size: 60px;
  padding-bottom: 20px;
}

.introduce .education_box .education_title:last-of-type {
  padding-bottom: 0;
}

.introduce .education_box .education_text {
  width: 60%;
  margin-top: 80px;
}

.introduce .education_box .education_text .education_text_title {
  font-size: 22px;
  text-align: center;
  color: #D4E4F2;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.introduce .education_box .education_text .education_text_box p {
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 15px;
  background-color: #D4E4F2;
  color: rgba(51, 51, 51, 0.692);
  line-height: 1.5;
}

/* profile */
footer {
  position: relative;
  background-color: #85b95c;
}

footer .profile_container .profile_wrap {
  line-height: 1.5;
  padding: 20px;
}

footer .profile_container .profile_wrap .profile_box {
  display: flex;
  justify-content: space-evenly;
}

footer .profile_container .profile_wrap .profile_box p {
  color: #ceec90;
  font-size: 16px;
  text-align: center;
}